# Arquivos de sistema do macOS
.DS_Store

# Pasta de binários compilados
[Bb]in/

# Pasta de arquivos temporários de compilação
[Oo]bj/

# Arquivos de configuração de IDE e usuário
.vs/
*.suo
*.user
# Ignora o arquivo .env especificamente na pasta src
src/.env