@{
    ViewData["Title"] = "Gestão de Limites";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Limites</h1>
    <a asp-controller="GestaoLimites" asp-action="ViewCadastrarLimite" class="btn btn-primary">Cadastrar</a>
    <a asp-controller="GestaoLimites" asp-action="ViewBuscarLimite" class="btn btn-secondary">Buscar</a> 
    <a asp-controller="GestaoLimites" asp-action="ViewAtualizarLimite" class="btn btn-secondary">Atualizar</a> 
    <a asp-controller="GestaoLimites" asp-action="ViewRemoverLimite" class="btn btn-secondary">Remover</a>  
</div>
