@{
    ViewData["Title"] = "Gestão de Limites";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Limites</h1>
    <a asp-controller="GestaoLimites" asp-action="CadastrarLimite" class="btn btn-primary">Cadastrar</a>
    <a asp-controller="GestaoLimites" asp-action="BuscarLimite" class="btn btn-secondary">Buscar</a> 
    <a asp-controller="GestaoLimites" asp-action="AtualizarLimite" class="btn btn-secondary">Atualizar</a> 
    <a asp-controller="GestaoLimites" asp-action="RemoverLimite" class="btn btn-secondary">Remover</a>  
</div>
